body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #111;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 150px;
}

.loader {
    border: 10px solid #333;
    border-top: 10px solid #fbc531;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
