body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px;
    background: #0D0D0D;
    color: #fff;
}

.container {
    padding: 50px;
    background: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px #222;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffcc00;
}

.loader {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 10px solid #ffcc00;
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
